---
import Markdown from "../components/Markdown.astro";
import CopyRight from "../components/misc/CopyRight.astro";
import AITranslationWarning from "../components/misc/AITranslationWarning.astro";
import Main from "../layouts/MainLayout.astro";

interface Props {
  title?: string;
  subTitle?: string;
  bannerImage?: string;
  published?: Date;
  license?: {
    name: string;
    url?: string;
  };
  author?: string;
  sourceLink?: string;
  aiTranslated?: boolean;
  originalSlug?: string;
}

const { title, subTitle, bannerImage, published, license, author, sourceLink, aiTranslated, originalSlug } =
  Astro.props;
---

<Main title={title} subTitle={subTitle} bannerImage={bannerImage}>
  <!-- <Fragment set:html={tocHTMLString} /> -->
  <div class="article-wrapper">
    <div class="article">
      {
        aiTranslated && originalSlug && (
          <AITranslationWarning originalSlug={originalSlug} />
        )
      }
      <Markdown>
        <slot />
      </Markdown>
      {
        published && title && (
          <CopyRight
            title={title}
            published={published}
            license={license}
            author={author}
            sourceLink={sourceLink}
          />
        )
      }
    </div>
  </div>
</Main>

<style>
  @reference "../styles/global.css";
  .article-wrapper {
    @apply mx-3 rounded-2xl bg-[var(--card-color)] px-5 py-6 lg:mx-0 lg:px-10 lg:py-9;
  }
  .article {
    @apply flex flex-col;
    font-size: var(--primary-font);
  }
</style>
